{% extends ../base.html %}

{% block meta %}
{% end %}

{% block title %}Crafty Controller Starting{% end %}

{% block content %}
{% include parts/loading_spinner.html %}
<script>
    $(document).ready(function () {
        setTimeout(function () {
            rotateImage(360);
        }, 2000);
        if (webSocket) {
            webSocket.on('update', function (data) {
                if ("server" in data) {
                    $("#status").text(`${$("#status").data(data.section)} ${data.server}...`).html();
                } else {
                    $("#status").text($("#status").data(data.section)).html();
                }
            });
            webSocket.on('send_start_reload', function () {
                setTimeout(function () {
                    location.href = '/panel/dashboard'
                }, 5000);

            });
        }
    });

</script>
{% end %}