<div class="content-wrapper">
    <div class="card-header justify-content-between align-items-center border-0">
        <div id="image-div" class="w-100">
            <img class="img-center clearfix" id="logo-animate" src="../static/assets/images/crafty-logo-square-1024.png"
                alt="Crafty Logo, Crafty is loading">
        </div>
        <br>
        </br>
        <div id="text-div" class="w-100 text-center">
            <h2 id="status" class="d-block" data-init="{{ translate('startup', 'serverInit', data['lang']) }}"
                data-server="{{ translate('startup', 'server', data['lang']) }}"
                data-internet="{{ translate('startup', 'internet', data['lang']) }}"
                data-tasks="{{ translate('startup', 'tasks', data['lang']) }}"
                data-internals="{{ translate('startup', 'internals', data['lang']) }}"
                data-almost="{{ translate('startup', 'almost', data['lang']) }}"
                data-cache="{{ translate('startup', 'cache', data['lang'])}}">
                {{ translate('startup', 'starting', data['lang']) }}
            </h2>
        </div>

    </div>
</div>
<style>
    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #logo-animate {
        width: 20%;
    }
</style>
<script src="/static/assets/js/shared/loading.js"></script>