#editor_container {
    width: 100%;
}

#editor {
    height: 75vh;
    border-radius: 25px;
}

.content-wrapper {
    width: 100vw;
}

#saveButton {
    width: 50%;
}

.centered {
    justify-content: center;
}

#server-name {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}